/****************************
 * CuonNgang: Scroll bar
****************************/
[data-cn] {
  --scrollbar-size: 10px;
  --scrollbar-track-color: #eee;
  --scrollbar-thumb-color: #7e7e7e;
}

/* custom scrollbar */
/* Works on Chrome, Edge, and Safari */
/* scrollbar size should be controlled so we can manage the height of inner sections */
[data-cn]::-webkit-scrollbar, [data-cn] *::-webkit-scrollbar {
  width: var(--scrollbar-size);
  height: var(--scrollbar-size);
}

[data-cn]::-webkit-scrollbar-track, [data-cn] *::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color);
}

[data-cn]::-webkit-scrollbar-thumb, [data-cn] *::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
}


/* Stylesheet */
[data-cn-section] {
  text-align: center;
  background: #9CD4FF;
  background: linear-gradient(270deg, #9CD4FF, #B4E137);
  padding: 5vw;

  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 1024px) {
  [data-cn-section] {
    display: block;
  }
}


/* Grid */
.sample-grid {
  gap: 20px;
}

.sample-grid div {
  flex-shrink: 0;
  width: 300px;
  background-color: #000;
  color: #fff;
  aspect-ratio: 2/1;
}

.sample-grid div[tabindex]:focus-visible {
  background-color: #fff;
  color: #000;
}

@media only screen and (max-width: 1024px) {
  .sample-grid {
    flex-wrap: wrap;
  }
  .sample-grid div {
    width: calc(50% - 10px);
  }
}


/* Vertical scroll */
@media only screen and (min-width: 1025px) {
  .vertical-scroll {
    width: 500px;
    max-width: 100%;
    height: 500px;
    overflow: auto;
  }
}