/****************************
 * CuonNgang: Wrapper
****************************/
body:not(.cn-vertical) {
  overflow: hidden; /* avoid elastic scroll on Mac devices */
}

[data-cn] {
  --hsp-scrollbar-size: 10px;
  --hsp-scrollbar-track-color: #eee;
  --hsp-scrollbar-thumb-color: #7e7e7e;

  display: flex; /* force into one lines */
  overflow: auto; /* allow scrolling */
}

/* vertical */
body.cn-vertical [data-cn] {
  display: block;
}

/* custom scrollbar */
/* Works on Chrome, Edge, and Safari */
/* scrollbar size should be controlled so we can manage the height of inner sections */
[data-cn]::-webkit-scrollbar, [data-cn] *::-webkit-scrollbar {
  width: var(--hsp-scrollbar-size);
  height: var(--hsp-scrollbar-size);
}

[data-cn]::-webkit-scrollbar-track, [data-cn] *::-webkit-scrollbar-track {
  background: var(--hsp-scrollbar-track-color);
}

[data-cn]::-webkit-scrollbar-thumb, [data-cn] *::-webkit-scrollbar-thumb {
  background-color: var(--hsp-scrollbar-thumb-color);
}

/****************************
 * CuonNgang: Section
****************************/
body:not(.cn-vertical) [data-cn-section] {
  height: calc(100vh - var(--hsp-scrollbar-size)); /* always full-height */

  overflow-y: hidden; /* avoid vertical overflow */
  flex-shrink: 0; /* remove shrink, allow section to extend its width based on the content inside */
}

/****************************
 * CuonNgang: vertical scroll
****************************/
body:not(.cn-vertical) [data-cn-vertical-scroll] {
  max-height: 100%; /* to allow overflow */
  overflow-y: auto;
  overflow-x: hidden;
}